div.container-fluid
    div.row-fluid
        div.container
            div.row
                div.col-md-8
                    <!-- Top Carousel for most like-->
                    div(id="carousel-most-visited", class="carousel slide", data-ride="carousel")
                        <!-- Indicators -->
                        ol.carousel-indicators
                            li(data-target="#carousel-most-visited", data-slide-to="0", class="active")
                            li(data-target="#carousel-most-visited", data-slide-to="1")
                            li(data-target="#carousel-most-visited", data-slide-to="2")

                        <!-- Wrapper for slides -->
                        div.carousel-inner
                            div(class="item active"): img(src="/images/1.jpg", alt="First slide")
                            div.item: img(src="/images/2.jpg", alt="Second slide")
                            div.item: img(src="/images/3.jpg" alt="Third slide")


                        <!-- Controls -->
                        a(class="left carousel-control", href="#carousel-most-visited", data-slide="prev")
                            span(class="glyphicon glyphicon-chevron-left")
                        a(class="right carousel-control", href="#carousel-most-visited", data-slide="next")
                            span(class="glyphicon glyphicon-chevron-right")
                    div
                        div.container-body
                            h2 Heading
                            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                            | tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        div.container-body
                            h2 Heading
                            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                            | tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                        div.container-body
                            h2 Heading
                            p Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
                            | tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            | Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
                div.col-md-4
                    div.container-body
                        h2 Heading
                        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus