extends ./layout/layout.jade
block header
	include partials/header
block bodyleft
	include partials/home/carousel
	include partials/home/list
block bodyright
	include partials/home/sidebar
block footer
	include partials/footer

