doctype html
html(lang='zh-cn')
    head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title 来凑单
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    style(type='text/css').
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .container-body {
          background-color: white;
          box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
      }
    block css
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    block headscript
body
    block header
    div.container-fluid
    div.row-fluid
        div.container
            div.row
                div.col-md-8
                    block bodyleft
                div.col-md-4
                    block bodyright
    block footer
    block footerscript
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>